.progress{
	width: 100px;
	height: 10px;
	background: #ddd;
	margin: auto;
}

.bar{
	width: 0%;
	height: 10px;
	background-color: #4CAF50;
}

.popBusBroder{
	width: 140px;
	height: 200px;
	margin: 10px;
	padding: 5px;
	border: solid #aaa;
	border-radius: 6px;
	background: #eee;
}

.popBusImage{
	width: auto;
	height: 120px;
	display: block;
	padding-top: 0px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

.popBusTitle{
	color: #333;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 0;
}

.popBusInfo{
	color: #333;
	text-align: center;
}

.stationBroder{
	width: 100%;
	height: 250px;
	margin: 20px;
	padding: 10px;
	border: solid #aaa;
	border-radius: 6px;
	background: #777;
}

.stationTitle{
	color: #333;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 0;
}
